:root {
  --h1: 'Work Sans', sans-serif;
  --h2: 'Open Sans', sans-serif;
  --para: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden; /* Hide scrollbars */
}

span {
  position: relative;
  overflow: hidden;
}

a {
  display: block;
  background-color: HSL(217.5, 57.1%, 97.3%); 
  text-decoration: none; 
  border-radius: 0.3em;
  color: #386BF3;
  padding: 1em ;
}

span {
  display: block;
  background-color: HSL(217.5, 57.1%, 97.3%); 
  padding: 15px;
  text-decoration: none; 
  border-radius: 0.3em;
}

.logo_img{
  position: relative;
  width: 42px;
  margin-right: 10px;
  top: 7px;
}

img {
  border-radius: 8px;
  max-width: 100%;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),0 8px 16px -8px hsla(0, 0%, 0%, 0.3),0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
}

.link {
  background-color: transparent ;
  display: inline;
  text-decoration: none;
}

a:hover {
  color: hsla(0, 0%, 60%, 1)
}
/* Character Styling */
header h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 42px;
  display: inline-block;
  margin: 0;
}

header h2 {
  margin-top: .5em;
  font-family: var(--h2);
  font-weight: lighter;
}

h2{
  font-family: var(--h2);
  font-family: var(--para);
  line-height: 1.15;
  font-size: 24px;
}

p { 
  margin-bottom: .5em;
  font-family: var(--para);
  margin-top: 1em;
  line-height: 1.5em;
  font-size: 16px;
}

.content_container h2 {
  font-size: 2.25rem;
  font-weight: 600;

}

/* main */
/* Header*/
.content_section_light {
  padding: 100px;
}

.content_section_light-1 {
  padding: 100px;
}

.logo_container {
  display:  flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  
}

.header__logo-text {
  margin-top: 15px;
}

.image_container {
  height: 354px
}

.img1_1 {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),0 8px 16px -8px hsla(0, 0%, 0%, 0.3),0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
}

.header__ads {
  display: block;
  overflow: hidden;
  border-radius: 4px;
  max-width: 350px;
  background-color: HSL(217.5, 57.1%, 97.3%);
  padding: 20px;
  max-height: 140px;
  margin-top: -150px;
  margin-left: 25px;
}

.header__ads-img {
  border-radius: 4px;
  max-width: 130px;
  height: auto;
  float: left;
  margin-right: 10px;
}


.ads-link {
  background-color: transparent;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.ads-link2 {
  display: block;
  padding: 10px 12px;
  background-color: transparent;
  color: #333;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
}

.ads-link2:hover {
  color: hsla(0, 0%, 60%, 1);
}

@media screen and (max-width: 768px) {
  .logo_container {
    display:  flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .content_section_light, .content_section_light-1 {
    padding: 100px 10px;
  }

  .header__ads {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    font-size: 14px;
    padding: 20px;
    max-width: 350px;
    background: HSL(217.5, 57.1%, 97.3%);
    max-height: 150px;
  }

  .header__logo-text h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 42px;
    display: inline-block;
    margin: 0;
  } 

  .header__logo-text h2 {
    font-size: 25px;
    display: inlineblock;
    margin-bottom: 30px;
    text-align: center;
  } 

  .header__ads-img {
    margin-top: 0;
  }

  img {
    margin-top: 20px;
  }
} 

@media screen and (max-width: 500px) {
  .header__logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo_img {
    margin-bottom: 10px;
  }
}

/* main section */
.content_section_dark {
  background-color: #F4F7FC;
  padding: 100px;
}

.content-holder, .content-holder1 {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.content_container {
  width: 100%;
  text-align: center;
  padding: 0 270px;
  line-height: 2rem;
}

.dark_link {
  display: block;
  text-decoration: none;
  background-color: white;
  width: 100%;
  padding: .5rem;
}

@media screen and (max-width: 768px) {
  .content_container h2 {
    font-size: 2rem;
  }

  .content-holder {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }

  .content_container {
    padding: 0;
  }

  .content-holder1 {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    width: 100%;
  }

  .content_section_dark {
    background-color: #F4F7FC;
    padding: 100px 0;
  }
}





pre.code-box {
  box-shadow: 0 0 0 1px hsla(240, 30.1%, 28%, 0.05), 0 2px 5px 0 hsla(240, 30.1%, 28%, 0.1), 0 1px 1px 0 hsla(0, 0%, 0%, 0.07);
  background: white;
  padding: 18px;
}

.break-words {
  word-wrap: break-word;
}

.code_container {
  width: 100%;
}

pre {
  width: 100%;
  margin-top: 1em;  
  margin-bottom: 2em;
  font-size: 14px;
  width: 100%;
}

pre, code {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  width: 100%;
} 

/* footer */
footer {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 40px;
  margin-top: 100px;
  height: 378.5px;
}

.footer__container-logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer p {
  color: hsla(0, 100%, 100%, 0.6);
  font-size: 14px;
  text-align: center;
  margin: 0.2em;
  padding: 0.2em;
}

.foot_logo {
  height: auto;
  width: 200px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: none;
}

.foot_link {
   background-color: #000000;
}

.foot_link2 {
  display: inline;
  padding: 0;
  background-color: #000000;
  color: hsla(0, 100%, 100%, 0.8);
}

@media screen and (max-width: 360px) {
  .footer__container-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}